@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
  --font-sans: "DM Sans", sans-serif;

  --color-yellow-1: #F4CF44;

  --animate-wave: wave-animation 2.5s infinite;
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0.0deg);
    }
    10% {
      transform: rotate(14.0deg);
    }
    20% {
      transform: rotate(-8.0deg);
    }
    30% {
      transform: rotate(14.0deg);
    }
    40% {
      transform: rotate(-4.0deg);
    }
    50% {
      transform: rotate(10.0deg);
    }
    60% {
      transform: rotate(0.0deg);
    }
    100% {
      transform: rotate(0.0deg);
    }
  }
}

@utility scrollbar-thin {
    & {
      scrollbar-width: thin;
    }
}

:root {
  --ui-header-height: calc(var(--spacing) * 25);

  --animate-text-glow: text-glow 1.5s ease-in-out infinite alternate;
  --animate-fade-in-up: fade-in-up 0.2s ease-in-out;
}

.nomark ul {
  @apply list-none p-0;
}

@keyframes text-glow {
  0% {
    text-shadow: 0 0 5px rgba(180, 200, 50, 0.5);
  }
  100% {
    text-shadow: 0 0 15px rgba(180, 200, 50, 1);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-link {
  @apply relative inline-block transition duration-200;
}

.custom-link[target="_blank"]:hover + .link-favicon {
  display: inline-block;
  opacity: 1;
  animation: var(--animate-fade-in-up);
}

.custom-link::before,
.custom-link::after {
  @apply absolute bottom-[-2px] h-[3px] w-[12px] opacity-0 transition-all duration-400 z-[-1] content-[''];
}

.custom-link::before {
  @apply left-0 rounded-l-md;
  background-image: linear-gradient(90deg, #B5C239, #F4CF44);
}

.custom-link::after {
  @apply right-0 rounded-r-md;
  background-image: linear-gradient(270deg, #B5C239, #F4CF44);
}

.custom-link:hover,
.custom-link.active {
  transform: translateY(-1px);
  animation: var(--animate-text-glow);
}

.custom-link:hover::before,
.custom-link:hover::after,
.custom-link.active::before,
.custom-link.active::after {
  @apply opacity-100 w-1/2;
}

.custom-link.router-link-active {
  @apply font-bold;
  background: linear-gradient(45deg, #F4CF44, #77B23E);
  -webkit-background-clip: text;
  color: transparent;
}

.custom-link.router-link-active::before,
.custom-link.router-link-active::after {
  @apply opacity-0;
}